<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="css/index.css" />
    <meta charset="utf-8">
    <title>Hola</title>
  </head>
  <body>
    <h3>Hola mundo</h3><hr/>
    <div id="escondido">
      <% if (rta) { %>
        <p>Valor: <%= salida %> Aprox: <%= rta %></p>
      <% } %>
    </div>
  </body>
</html>
